*{
  margin: 0;
  padding: 0;
}
#menu{
  background-color: #3c8d5b;
  height:max-content;
}
#menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu ul li.utama{
  display: inline-table;
}
#menu ul li:hover{
  background-color: #3c8d5b;
  width: max-content;
}
#menu ul li a{
  display: block;
  text-decoration: none;
  line-height: 20px;
  padding: 0 10px;
  color: rgb(246, 246, 253);
}
.utama ul{
  display: none;
  position: absolute;
  z-index: 2;
}
.utama:hover ul{
  float: left;
  display: block;
}
.utama ul li{
  display: flexbox;
  background-color: #5a8686;
  width: 200px;
}
.content{
  background: #5a8686;
  width:100%;
  height: 555px;
  color:white;
  font-size: 20px;
}
#garis_7{
	border-style: outset;
}
form {
  margin:auto;
  float: left;
}
th, td {
  border: 1px solid #CCCCCC;
  padding: 5px 15px;
}