*{
  margin: 0;
  padding: 0;
}
.nav{
  text-align: center;
  font-family: fantasy;
  width:auto;
  height: 90px;
  font-size: 24px;
  color: white;
}
.nav ul{
  background: #3c8d5b;
  list-style: none;
  position: relative;
  display: inline-table;
  width: 100%;
  padding: 0 0px;
}
.content{
  background: #5a8686;
  width:100%;
  height: 555px;
  color:white;
  font-size: 20px;
}
#garis_7{
	border-style: outset;
}
form {
  margin:auto;
  float: left;
}
.nav ul li{
  float: left;
}
.nav ul li:hover a{
  color: show;
}
.nav ul li a{
  display: block;
  padding: 16px;
  color: rgb(214, 210, 210);
  text-decoration: none;
}